node_modules
dist
dist-ssr
build
*.local
.env
.env.*
!.env.example
coverage
.nyc_output
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
Thumbs.db
Desktop.ini
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode
.cache
.parcel-cache
.turbo
.vercel
.netlify
*.tsbuildinfo
.eslintcache
stylelint.cache
playwright-report
test-results
blob-report
*.pem
